<!DOCTYPE html>
<html>
  <head>
    <title>Habit Tracker</title>
  </head>

  <body>
    <h1>
      Habit Tracker <span><strong><%= user.name%></strong></span>
    </h1>
    <div class="List-main">
      <div id="add-habit-form">
        <h2>Add a New Habit</h2>
        <form method="POST" action="/habits">
          <label for="name">Habit Name:</label>
          <input type="text" id="name" name="name" /><br /><br />
          <button type="submit">Add Habit</button>
        </form>
      </div>

      <div id="habit-list">
        <h2>My Habits</h2>
        <% if (habits.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% habits.forEach((habit) => { %>
            <tr>
              <td>
                <a href="/habit/<%= habit._id %>"> <%= habit.name %> </a>
              </td>
              <td><%= habit.status %></td>
              <td>
                <a href="/habit/<%= habit._id %>">View Details</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <p>You have no habits yet.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
