<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Habit Zen</h1>
      <% if (habits.length === 0) { %>
      <h3>You currently have no habits. Please add a habit to get started!</h3>
      <% } else { %>
      <h3>Your Habits:</h3>
      <table>
        <thead>
          <tr>
            <th>Habit</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% habits.forEach((habit) => { %>
          <tr>
            <td><%= habit.name %></td>
            <td><%= habit.status %></td>
            <td>
              <form method="POST" action="/habit/<%= habit._id %>/update">
                <input type="radio" id="done" name="status" value="done" <%=
                habit.status === 'done' ? 'checked' : '' %>>
                <label for="done">Done</label><br />
                <input type="radio" id="not-done" name="status" value="not done"
                <%= habit.status === 'not done' ? 'checked' : '' %>>
                <label for="not-done">Not Done</label><br />
                <input type="radio" id="none" name="status" value="none" <%=
                habit.status === 'none' ? 'checked' : '' %>>
                <label for="none">None</label><br />
                <button type="submit">Save</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
      <h3>Add a Habit:</h3>
      <form method="POST" action="/habit/create">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />
        <label for="type">Type:</label>
        <select id="type" name="type">
          <option value="gym">Gym</option>
          <option value="exercising">Exercising</option>
          <option value="study">Study</option>
          <option value="playing">Playing</option>
          <option value="custom">Custom</option></select
        ><br /><br />
        <button type="submit">Add Habit</button>
      </form>
      <h3>All Days Report:</h3>
      <a href="/habit/report">View Report</a>
    </div>
  </body>
</html>
