<div class="List-main">
  <div class="main-container">
    <div class="List-contaier">
      <h1><%= title %> <strong> <%=user.name%></strong></h1>
      <div class="form-div">
        <form method="POST" action="/habit/create">
          <div>
            <label for="category">Category:</label>
          </div>
          <div>
            <select id="category" name="category">
              <option value="gym">Gym</option>
              <option value="exercise">Exercise</option>
              <option value="play">Play</option>
              <option value="swimming">Swimming</option>
              <option value="study">Study</option>
              <option value="walking">Walking</option>
              <option value="custom">Custom</option>
            </select>
          </div>

          <div id="custom-category" style="display: none">
            <div>
              <label for="custom-category-name">Custom Category Name:</label>
            </div>
            <div>
              <input
                type="text"
                id="custom-category-name"
                name="custom-category-name"
              />
            </div>
          </div>
          <div>
            <label for="name">Habit Description:</label>
          </div>
          <div><input type="text" id="name" name="name" /></div>
          <div class="submit-btn">
            <button class="submit-form" type="submit">Add Habit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="Log-container">
      <div>
        <% if (habits.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>Category</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% habits.forEach((habit) => { %>
            <tr>
              <td><%= habit.category %></td>
              <td>
                <a href="/habit/<%= habit._id %>/log"><%= habit.name %></a>
              </td>
              <td>
                <a
                  href="/habit/<%= habit._id %>/delete"
                  class="delete-habit-link"
                  >Delete</a
                >
                <form
                  class="delete-habit-form"
                  method="POST"
                  action="/habit/<%= habit._id %>/delete"
                >
                  <input type="hidden" name="_method" value="DELETE" />
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <p>You have no habits yet.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>

<!-- //custom input  -->
<script>
  const customCategory = document.getElementById("custom-category");
  const categoryDropdown = document.getElementById("category");

  categoryDropdown.addEventListener("change", () => {
    if (categoryDropdown.value === "custom") {
      customCategory.style.display = "block";
    } else {
      customCategory.style.display = "none";
    }
  });
</script>
<!-- //delete script  -->
<script src="/assets/js/main.js"></script>
